.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #47398d;
}

body{
  height: 100vh;
  width: 100%
}

#root{
  height: 100%;
  width: 100%;
}
.app{
  height: 100%;
}